<div class="noty_body">
    <div class="notif_header">
        <h6 class="notif_header_text">Check this out!</h6>
    </div>
    <div class="notif_basic-wrap">
        <a href="{{Link}}">
            <img src="{{Image}}" alt="{{Name}}"/>
        </a>
    </div>
</div>